<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://nationalcookiesfunctions20200714171136.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e0a743fe-8b1c-4c84-8712-cf233bc575db/resourcegroups/pluralsight-cloud-native-apps-course/providers/Microsoft.Web/sites/NationalCookiesFunctions20200714171136</ResourceId>
    <UserName>$NationalCookiesFunctions20200714171136</UserName>
    <_SavePWD>True</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://nationalcookiesfunctions20200714171136.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>